.ui-blockGrid-content .classify {
  font-size: 14px;
  line-height: 25px;
}
.ui-blockGrid-item li[type=photo] {
  text-align: center;
}
.ui-blockGrid-item li[type=photo] .sign-box {
  padding: 4px 0;
}
.ui-blockGrid-item li[type=photo] .sign-box > div {
  width: 40px;
  color: white;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  border-radius: 3px;
}
.ui-blockGrid-item li[type=photo] > img {
  width: 96px;
  height: 96px;
}
.column-normal {
  text-align: center;
}
.column-normal li[type=content] {
  font-size: 14px;
  padding: 15px 0;
}
.column-normal a {
  font-size: 14px;
}
.gray_bar {
  height: 12px;
  background: #f3f4f8;
  border-bottom: 1px solid #ddd;
}
.ui-searchbar > .ui-searchbar-form input,
.ui-searchbar > .ui-searchbar-form select {
  width: 150px;
}
.ui-searchbar > .counter > div {
  width: 20%;
  padding: 0 10px;
  height: 100%;
  float: left;
  margin-top: 72px;
  color: #666;
}
.ui-searchbar > .counter > div .num {
  font-size: 26px;
  line-height: 26px;
  font-family: "founderSimplified";
  font-style: italic;
  color: #00a0e4;
  font-weight: 700;
}
.ui-searchbar > .counter > div .fa {
  font-size: 20px;
  margin-top: 12px;
}
.ui-blockGrid-content > li[type=title] a {
  color: #333;
}
.ui-blockGrid-content > li[type=title] a:hover {
  color: #4B8ABF;
}
td > .required:after {
  content: "*";
  color: red;
  font-size: 16px;
}
.ui-form-error {
  text-align: left;
  padding: 0;
}
.float_button {
  width: 10px;
  height: 100%;
  position: absolute;
  background: #D0D0D0;
  left: 240px;
  z-index: 1000;
  cursor: pointer;
}
.file_box {
  display: none;
}
.ui-grid-wire > tbody td {
  vertical-align: top;
}
.ui-content-change {
  border: none;
  background: #f3f4f8;
}
.ui-content-change .ui-panel {
  background: white;
}
.ui-grid-linkGroup > .active,
.ui-grid-linkGroup > .active:hover {
  border-bottom: 0px solid #039bda;
}
.ui-grid-linkGroup li {
  position: relative;
  width: 112px;
  padding: 0 20px;
  text-align: center;
  font-weight: 400;
  border-right: 1px solid #e1e8ee;
  color: #333;
  border-bottom: 0px;
}
.ui-grid-linkGroup li:hover,
.ui-grid-linkGroup li.active {
  font-weight: 700;
  color: #00acf4;
  border-bottom: 0px;
}
.ui-grid-linkGroup li:before {
  position: absolute;
  top: 2px;
  left: 8px;
}
.ui-grid-linkGroup li:last-child {
  border: none;
}
.subscribeResource .ui-grid-linkGroup li:nth-child(1):before,
.publishResource .ui-grid-linkGroup li:nth-child(1):before,
.subscribeExamine .ui-grid-linkGroup li:nth-child(1):before {
  left: 16px;
  content: url("../images/items/item-01.png");
}
.subscribeResource .ui-grid-linkGroup li:nth-child(1):hover:before,
.publishResource .ui-grid-linkGroup li:nth-child(1):hover:before,
.subscribeExamine .ui-grid-linkGroup li:nth-child(1):hover:before {
  content: url("../images/items/item-11.png");
}
.subscribeResource .ui-grid-linkGroup li:nth-child(1).active:before,
.publishResource .ui-grid-linkGroup li:nth-child(1).active:before,
.subscribeExamine .ui-grid-linkGroup li:nth-child(1).active:before {
  content: url("../images/items/item-11.png");
}
.subscribeResource .ui-grid-linkGroup li:nth-child(2):before,
.publishResource .ui-grid-linkGroup li:nth-child(2):before,
.subscribeExamine .ui-grid-linkGroup li:nth-child(2):before {
  content: url("../images/items/item-02.png");
}
.subscribeResource .ui-grid-linkGroup li:nth-child(2):hover:before,
.publishResource .ui-grid-linkGroup li:nth-child(2):hover:before,
.subscribeExamine .ui-grid-linkGroup li:nth-child(2):hover:before {
  content: url("../images/items/item-12.png");
}
.subscribeResource .ui-grid-linkGroup li:nth-child(2).active:before,
.publishResource .ui-grid-linkGroup li:nth-child(2).active:before,
.subscribeExamine .ui-grid-linkGroup li:nth-child(2).active:before {
  content: url("../images/items/item-12.png");
}
.subscribeResource .ui-grid-linkGroup li:nth-child(3):before,
.publishResource .ui-grid-linkGroup li:nth-child(3):before,
.subscribeExamine .ui-grid-linkGroup li:nth-child(3):before {
  content: url("../images/items/item-03.png");
}
.subscribeResource .ui-grid-linkGroup li:nth-child(3):hover:before,
.publishResource .ui-grid-linkGroup li:nth-child(3):hover:before,
.subscribeExamine .ui-grid-linkGroup li:nth-child(3):hover:before {
  content: url("../images/items/item-13.png");
}
.subscribeResource .ui-grid-linkGroup li:nth-child(3).active:before,
.publishResource .ui-grid-linkGroup li:nth-child(3).active:before,
.subscribeExamine .ui-grid-linkGroup li:nth-child(3).active:before {
  content: url("../images/items/item-13.png");
}
.subscribeResource .ui-grid-linkGroup li:nth-child(4):before,
.publishResource .ui-grid-linkGroup li:nth-child(4):before,
.subscribeExamine .ui-grid-linkGroup li:nth-child(4):before {
  content: url("../images/items/item-04.png");
}
.subscribeResource .ui-grid-linkGroup li:nth-child(4):hover:before,
.publishResource .ui-grid-linkGroup li:nth-child(4):hover:before,
.subscribeExamine .ui-grid-linkGroup li:nth-child(4):hover:before {
  content: url("../images/items/item-14.png");
}
.subscribeResource .ui-grid-linkGroup li:nth-child(4).active:before,
.publishResource .ui-grid-linkGroup li:nth-child(4).active:before,
.subscribeExamine .ui-grid-linkGroup li:nth-child(4).active:before {
  content: url("../images/items/item-14.png");
}
.subscribeResource .ui-grid-linkGroup li:nth-child(5):before,
.publishResource .ui-grid-linkGroup li:nth-child(5):before,
.subscribeExamine .ui-grid-linkGroup li:nth-child(5):before {
  content: url("../images/items/item-05.png");
}
.subscribeResource .ui-grid-linkGroup li:nth-child(5):hover:before,
.publishResource .ui-grid-linkGroup li:nth-child(5):hover:before,
.subscribeExamine .ui-grid-linkGroup li:nth-child(5):hover:before {
  content: url("../images/items/item-15.png");
}
.subscribeResource .ui-grid-linkGroup li:nth-child(5).active:before,
.publishResource .ui-grid-linkGroup li:nth-child(5).active:before,
.subscribeExamine .ui-grid-linkGroup li:nth-child(5).active:before {
  content: url("../images/items/item-15.png");
}
.subscribeResource .ui-grid-linkGroup li:nth-child(6):before,
.publishResource .ui-grid-linkGroup li:nth-child(6):before,
.subscribeExamine .ui-grid-linkGroup li:nth-child(6):before {
  content: url("../images/items/item-06.png");
}
.subscribeResource .ui-grid-linkGroup li:nth-child(6):hover:before,
.publishResource .ui-grid-linkGroup li:nth-child(6):hover:before,
.subscribeExamine .ui-grid-linkGroup li:nth-child(6):hover:before {
  content: url("../images/items/item-16.png");
}
.subscribeResource .ui-grid-linkGroup li:nth-child(6).active:before,
.publishResource .ui-grid-linkGroup li:nth-child(6).active:before,
.subscribeExamine .ui-grid-linkGroup li:nth-child(6).active:before {
  content: url("../images/items/item-16.png");
}
.subscribeResource .ui-blockGrid-item .color-ff9b02,
.publishResource .ui-blockGrid-item .color-ff9b02,
.subscribeExamine .ui-blockGrid-item .color-ff9b02 {
  color: #ff9b02 !important;
}
.subscribeResource .ui-blockGrid-item .color-1e88e5,
.publishResource .ui-blockGrid-item .color-1e88e5,
.subscribeExamine .ui-blockGrid-item .color-1e88e5 {
  background-color: #1e88e5 !important;
}
.subscribeResource .ui-blockGrid-item .color-fe245c,
.publishResource .ui-blockGrid-item .color-fe245c,
.subscribeExamine .ui-blockGrid-item .color-fe245c {
  background-color: #fe245c !important;
}
.subscribeResource .ui-blockGrid-item .color-68baff,
.publishResource .ui-blockGrid-item .color-68baff,
.subscribeExamine .ui-blockGrid-item .color-68baff {
  background-color: #68baff !important;
}
.subscribeResource .ui-blockGrid-item .color-f2c65d,
.publishResource .ui-blockGrid-item .color-f2c65d,
.subscribeExamine .ui-blockGrid-item .color-f2c65d {
  background-color: #f2c65d !important;
}
.subscribeResource .ui-blockGrid-item .color-777,
.publishResource .ui-blockGrid-item .color-777,
.subscribeExamine .ui-blockGrid-item .color-777 {
  font-weight: 400;
  color: #777 !important;
}
.subscribeResource .ui-blockGrid-item .color-59b0fc,
.publishResource .ui-blockGrid-item .color-59b0fc,
.subscribeExamine .ui-blockGrid-item .color-59b0fc {
  color: #59b0fc !important;
}
.subscribeResource .ui-blockGrid-item li,
.publishResource .ui-blockGrid-item li,
.subscribeExamine .ui-blockGrid-item li,
.subscribeResource .ui-blockGrid-item a,
.publishResource .ui-blockGrid-item a,
.subscribeExamine .ui-blockGrid-item a {
  color: #333;
}
.subscribeResource .ui-blockGrid-item .sign-box .fa-star,
.publishResource .ui-blockGrid-item .sign-box .fa-star,
.subscribeExamine .ui-blockGrid-item .sign-box .fa-star {
  color: #cfcfcf;
  font-size: 15px;
  margin-right: 2px;
}
.subscribeResource .ui-blockGrid-item .ui-blockGrid-content .title,
.publishResource .ui-blockGrid-item .ui-blockGrid-content .title,
.subscribeExamine .ui-blockGrid-item .ui-blockGrid-content .title {
  color: #333;
  font-size: 14px;
  font-weight: 400;
}
.subscribeResource .ui-blockGrid-item .ui-blockGrid-content .sign,
.publishResource .ui-blockGrid-item .ui-blockGrid-content .sign,
.subscribeExamine .ui-blockGrid-item .ui-blockGrid-content .sign {
  display: inline-block;
  width: 41px;
  height: 19px;
  line-height: 19px;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  font-size: 12px;
  margin-left: 11px;
}
.subscribeResource .ui-blockGrid-item .ui-blockGrid-content .content,
.publishResource .ui-blockGrid-item .ui-blockGrid-content .content,
.subscribeExamine .ui-blockGrid-item .ui-blockGrid-content .content {
  font-size: 12px;
  color: #666;
  height: 50px;
  padding-right: 15px;
}
.subscribeResource .ui-blockGrid-item .ui-blockGrid-content .classify,
.publishResource .ui-blockGrid-item .ui-blockGrid-content .classify,
.subscribeExamine .ui-blockGrid-item .ui-blockGrid-content .classify {
  position: relative;
  float: left;
  font-size: 12px;
  color: #999;
}
.subscribeResource .ui-blockGrid-item .ui-blockGrid-content .classify:nth-child(1):before,
.publishResource .ui-blockGrid-item .ui-blockGrid-content .classify:nth-child(1):before,
.subscribeExamine .ui-blockGrid-item .ui-blockGrid-content .classify:nth-child(1):before {
  position: absolute;
  top: 3px;
  left: -20px;
  content: url("../images/items/item-07.png");
}
.subscribeResource .ui-blockGrid-item .ui-blockGrid-content .classify:nth-child(2),
.publishResource .ui-blockGrid-item .ui-blockGrid-content .classify:nth-child(2),
.subscribeExamine .ui-blockGrid-item .ui-blockGrid-content .classify:nth-child(2) {
  margin-left: 35px;
}
.subscribeResource .ui-blockGrid-item .ui-blockGrid-content .classify:nth-child(2):before,
.publishResource .ui-blockGrid-item .ui-blockGrid-content .classify:nth-child(2):before,
.subscribeExamine .ui-blockGrid-item .ui-blockGrid-content .classify:nth-child(2):before {
  position: absolute;
  left: 5px;
  top: 1px;
  left: -17px;
  content: url("../images/items/item-08.png");
}
.subscribeResource .ui-blockGrid-item .ui-blockGrid-content li[type="content"],
.publishResource .ui-blockGrid-item .ui-blockGrid-content li[type="content"],
.subscribeExamine .ui-blockGrid-item .ui-blockGrid-content li[type="content"] {
  font-size: 12px;
  color: #999;
}
.subscribeResource .ui-blockGrid-item li[type="buttons"] .ui-datetime,
.publishResource .ui-blockGrid-item li[type="buttons"] .ui-datetime,
.subscribeExamine .ui-blockGrid-item li[type="buttons"] .ui-datetime {
  position: relative;
  font-size: 12px;
  color: #999 !important;
}
.subscribeResource .ui-blockGrid-item li[type="buttons"] .ui-datetime:before,
.publishResource .ui-blockGrid-item li[type="buttons"] .ui-datetime:before,
.subscribeExamine .ui-blockGrid-item li[type="buttons"] .ui-datetime:before {
  position: absolute;
  left: 10px;
  content: url("../images/items/item-09.png");
}
.subscribeResource .ui-blockGrid-item li[type="buttons"] .undo,
.publishResource .ui-blockGrid-item li[type="buttons"] .undo,
.subscribeExamine .ui-blockGrid-item li[type="buttons"] .undo,
.subscribeResource .ui-blockGrid-item li[type="buttons"] .cancel,
.publishResource .ui-blockGrid-item li[type="buttons"] .cancel,
.subscribeExamine .ui-blockGrid-item li[type="buttons"] .cancel {
  padding: 2px 0;
  cursor: pointer;
}
.subscribeResource .ui-blockGrid-item > ul > li[type=photo] > img,
.publishResource .ui-blockGrid-item > ul > li[type=photo] > img,
.subscribeExamine .ui-blockGrid-item > ul > li[type=photo] > img {
  width: 80px;
  height: 80px;
}
.ui-content-change .ui-grid-linkGroup li:nth-child(1):before,
.scrollWrapper .ui-grid-linkGroup li:nth-child(1):before {
  left: 10px;
  content: url("../images/items/database.png");
}
.ui-content-change .ui-grid-linkGroup li:nth-child(1):hover:before,
.scrollWrapper .ui-grid-linkGroup li:nth-child(1):hover:before {
  content: url("../images/items/database1.png");
}
.ui-content-change .ui-grid-linkGroup li:nth-child(1).active:before,
.scrollWrapper .ui-grid-linkGroup li:nth-child(1).active:before {
  content: url("../images/items/database1.png");
}
.ui-content-change .ui-grid-linkGroup li:nth-child(2):before,
.scrollWrapper .ui-grid-linkGroup li:nth-child(2):before {
  left: 16px;
  content: url("../images/items/file.png");
}
.ui-content-change .ui-grid-linkGroup li:nth-child(2):hover:before,
.scrollWrapper .ui-grid-linkGroup li:nth-child(2):hover:before {
  content: url("../images/items/file1.png");
}
.ui-content-change .ui-grid-linkGroup li:nth-child(2).active:before,
.scrollWrapper .ui-grid-linkGroup li:nth-child(2).active:before {
  content: url("../images/items/file1.png");
}
.ui-content-change .ui-grid-linkGroup li:nth-child(3):before,
.scrollWrapper .ui-grid-linkGroup li:nth-child(3):before {
  left: 16px;
  content: url("../images/items/api.png");
}
.ui-content-change .ui-grid-linkGroup li:nth-child(3):hover:before,
.scrollWrapper .ui-grid-linkGroup li:nth-child(3):hover:before {
  content: url("../images/items/api1.png");
}
.ui-content-change .ui-grid-linkGroup li:nth-child(3).active:before,
.scrollWrapper .ui-grid-linkGroup li:nth-child(3).active:before {
  content: url("../images/items/api1.png");
}
.diary .ui-grid-linkGroup li {
  width: 160px;
}
.diary .ui-grid-linkGroup li:nth-child(1):before {
  left: 10px;
  content: url("../images/items/item-17.png");
}
.diary .ui-grid-linkGroup li:nth-child(1):hover:before {
  content: url("../images/items/item-18.png");
}
.diary .ui-grid-linkGroup li:nth-child(1).active:before {
  content: url("../images/items/item-18.png");
}
.diary .ui-grid-linkGroup li:nth-child(2):before {
  left: 16px;
  content: url("../images/items/item-19.png");
}
.diary .ui-grid-linkGroup li:nth-child(2):hover:before {
  content: url("../images/items/item-20.png");
}
.diary .ui-grid-linkGroup li:nth-child(2).active:before {
  content: url("../images/items/item-20.png");
}
.dataDictionary .ui-searchbar {
  width: 100%;
  min-width: auto;
  height: 65px;
  left: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
}
.dataDictionary .ui-searchbar .ui-searchbar-form {
  padding: 13px;
  border-bottom: 1px solid #ddd;
}
.dataDictionary .ui-grid-buttonbar {
  top: 65px;
}
.ztree li a.curSelectedNode {
  background: none;
  color: #0091f6;
  border: none;
}
.ztree li span.button.switch {
  height: 22px;
}
/*# sourceMappingURL=resourceStyle.css.map */
