<style>
    .form-group input,.form-group select{
        min-width:180px!important;
    }
    .form-group label{
        width:60px;
        text-align:right;
    }
</style>
<div class="ui-content">
    <div class="ui-aside left" id="treeAside">
        <ul class="ztree ui-treebar" id="treebar"  style="margin-top:6px;"></ul>
    </div>
    <div class="ui-aside right" id="rightPage">
        <div class="ui-content-body catalogTable">
            <div class="ui-content-toolsbar" style="height:140px;">
                <div class="ui-content-searchbar">
                    <form id="gridForm" class="form-inline">
                        <div>
                            <div class="form-group">
                                <label for="resciName">资源名称</label>
                                <input type="text" name="resciName" class="form-control" placeholder="" >
                            </div>
                            <div class="form-group">
                                <label for="resciState">资源状态</label>
                                <select name="resciState" class="form-control">
                                    <option value="">全部</option>
                                    <option value="-1">未完成</option>
                                    <option value="0">待提交</option>
                                    <option value="1">待审核</option>
                                    <option value="3">待发布</option>
                                    <option value="4">已发布</option>
                                    <option value="5">已撤销</option>
                                    <option value="6">已拒绝</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="resciCode">资源编码</label>
                                <input type="text" name="resciCode" class="form-control" placeholder="" >
                            </div>
                            <div class="form-group">
                                <button class="btn btn-info blue" id="search"><i class="fa fa-search"></i><span>查询</span></button>
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="topicId">主题分类</label>
                                <select name="topicId" class="form-control" id="topicId">
                                    <option value="">全部</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="industryId">行业分类</label>
                                <select name="industryId" class="form-control" id="industryId">
                                    <option value="">全部</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="oid">OID标识</label>
                                <input type="text" class="form-control" name="oid">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-info blue" id="reset"><i class="fa fa-undo"></i><span>重置</span></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="ui-content-buttonbar">
                    <input type="hidden" id="rowId">
                    <input type="hidden" id="treeId">
                    <button class="btn btn-info blue" id="add"><i class="fa fa-plus"></i><span>新增</span></button>
                    <button class="btn btn-info blue" disabled="disabled" id="modify"><i class="fa fa-pencil"></i><span>修改</span></button>
                    <button class="btn btn-info blue" disabled="disabled" id="view"><i class="fa fa-search"></i><span>查看</span></button>
                    <button class="btn btn-info blue" disabled="disabled" id="delete"><i class="fa fa-trash-o"></i><span>删除</span></button>
                    <button class="btn btn-info blue" disabled="disabled" id="submit"><i class="fa fa-check"></i><span>提交</span></button>
                    <button class="btn btn-info blue" disabled="disabled" id="flowPath"><i class="fa fa-align-justify"></i><span>查看流程</span></button>
                    <button class="btn btn-info blue" disabled="disabled" id="publish"><i class="fa fa-arrow-up"></i><span>发布</span></button>
                    <button class="btn btn-info blue" disabled="disabled" id="cancel"><i class="fa fa-reply"></i><span>撤销</span></button>
                </div>
            </div>
            <div class="ui-content-aside" style="top:140px;">
                <table id="grid" class="ui-grid" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>资源名称</th>
                        <th>资源编码</th>
                        <th>资源等级</th>
                        <th>主题分类</th>
                        <th>行业分类</th>
                        <th>OID标识</th>
                        <th>资源状态</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    require(["app/metadataManage/resourceCatalog/resourceCatalog"],function(app){
        app.main();
    });
</script>