<div class="ui-content">
    <div class="ui-content-header">
        <div class="ui-content-controlbar">
            <button class="btn btn-link back" title="返回"><i class='ion-chevron-left'></i><span>返回</span></button>
        </div>
    </div>
    <div class="ui-content-body">
        <div class="ui-content-aside" style="top:40px;">
            <form id="regionManageView" class="ui-form" role="form">
                <div class="ui-group">
                    <div class="ui-group-header">查看</div>
                    <div class="ui-group-body">
                        <div class="ui-form-box">
                            <table class="ui-form-grid wire">
                                <tr>
                                    <td type="label"><span class="required"></span>上级域</td>
                                    <td name="pidName"></td>
                                </tr>
                                <tr>
                                    <td type="label"><span class="required"></span>域名称</td>
                                    <td name="fieldName"></td>
                                </tr>
                                <tr>
                                    <td type="label"><span class="required"></span>所属单位</td>
                                    <td name="comName"></td>
                                </tr>
                                <tr>
                                    <td type="label"><span class="required"></span>域管理员</td>
                                    <td name="userName"></td>
                                </tr>
                                <tr>
                                    <td type="label">联系电话</td>
                                    <td name="telephone"></td>
                                </tr>
                            </table>
                            <div class="ui-form-submitbar">
                                <button class="btn btn-info orange cancel" id="cancel"><i class="fa fa-reply"></i><span>取消</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    require(["app/interconnectManage/regionManage/regionManageView"],function(app){
        app.main();
    });
</script>