<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fable.industry.bussiness.mapper.roleManage.RoleManageMapper">
    <resultMap id="SysRoleList" type="com.fable.industry.bussiness.model.bean.SysRoleBean">
        <id column="ROLE_ID" property="roleId" jdbcType="INTEGER"></id>
        <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR"></result>
        <result column="NOTE" property="note" jdbcType="VARCHAR"></result>
    </resultMap>

    <resultMap id="SysMenuBean" type="com.fable.industry.bussiness.model.bean.SysMenuBean">
        <id column="MENU_ID" property="menuId" jdbcType="INTEGER"></id>
        <result column="PID" property="pid" jdbcType="INTEGER"></result>
        <result column="NAME" property="name" jdbcType="VARCHAR"></result>
        <result column="URL" property="url" jdbcType="VARCHAR"></result>
        <result column="CODE" property="code" jdbcType="VARCHAR"></result>
        <result column="ICON" property="icon" jdbcType="VARCHAR"></result>
        <result column="SORT_ORDER" property="sortOrder" jdbcType="INTEGER"></result>
        <result column="TYPE" property="type" jdbcType="VARCHAR"></result>
        <result column="NOTE" property="note" jdbcType="VARCHAR"></result>
        <result column="CREATOR_ID" property="creatorId" jdbcType="INTEGER"></result>
        <result column="CREATED_TIME" property="createdTime" jdbcType="TIMESTAMP"></result>
        <result column="UPDATE_ID" property="updateId" jdbcType="INTEGER"></result>
        <result column="UPDATED_TIME" property="updatedTime" jdbcType="TIMESTAMP"></result>
    </resultMap>

    <!--查询角色列表-->
    <select id="findRoleList" resultMap="SysRoleList"
            parameterType="com.fable.industry.bussiness.model.bean.SysRoleBean">
        SELECT * FROM sys_role
        WHERE 1=1
        <if test="roleName!=null and roleName!=''">
            AND ROLE_NAME LIKE concat("%",#{roleName},"%")
        </if>
    </select>

    <!--新增角色-->
    <insert id="addRole" parameterType="com.fable.industry.bussiness.model.bean.SysRoleBean">
        INSERT INTO sys_role (ROLE_NAME,NOTE) VALUES (#{roleName},#{note})
    </insert>

    <!--修改角色-->
    <update id="updateRole" parameterType="com.fable.industry.bussiness.model.bean.SysRoleBean">
        UPDATE sys_role SET ROLE_NAME=#{roleName},NOTE=#{note} WHERE ROLE_ID=#{roleId}
    </update>

    <!--查看角色-->
    <select id="queryRoleById" resultMap="SysRoleList" parameterType="Integer">
        SELECT * FROM sys_role WHERE ROLE_ID=#{roleId}
    </select>

    <!--删除角色-->
    <delete id="deleteRole" parameterType="list">
        DELETE FROM sys_role WHERE ROLE_ID IN
        <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>

    <!--删除角色菜单关系-->
    <delete id="deleteMenuRole" parameterType="list">
        DELETE FROM sys_menu_role WHERE ROLE_ID IN
        <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>

    <!--角色是否可删除校验-->
    <select id="checkDeleteRole" parameterType="list" resultType="Integer">
        SELECT count(1) FROM sys_user_role WHERE ROLE_ID IN
        <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </select>

    <!--角色唯一性校验-->
    <select id="checkRole" resultType="Integer" parameterType="String">
        SELECT count(1) FROM sys_role WHERE ROLE_NAME=#{roleName}
    </select>

    <!--角色授权-->
    <insert id="authorization">
        INSERT INTO sys_menu_role(MENU_ID,ROLE_ID) VALUES (#{menuId},#{roleId})
    </insert>

    <!--菜单树的查询-->
    <select id="queryMenu" resultType="com.fable.industry.api.page.TreeRsult">
      SELECT s.MENU_ID id,s.NAME name,s.PID pid FROM sys_menu s
    </select>

    <!--查询当前角色下的菜单ID-->
    <select id="queryMenuById" resultType="Integer">
        SELECT MENU_ID FROM  sys_menu_role WHERE ROLE_ID=#{roleId}
    </select>

    <!--角色下拉查询接口-->
    <select id="queryRole" resultMap="SysRoleList">
        SELECT * FROM sys_role
    </select>
</mapper>