<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fable.industry.bussiness.mapper.sysconf.SysConfigMapper">
	<resultMap id="sysConfigMap" type="SysConfig">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="Type" property="type" jdbcType="VARCHAR" />
		<result column="ParaKey" property="paraKey" jdbcType="VARCHAR" />
		<result column="ParaValue" property="paraValue" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="getConfByTypeID" resultMap="sysConfigMap" parameterType="Integer">
		select Type,ParaKey,ParaValue from SysConfig where Type = #{type,jdbcType=INTEGER}
    </select>

	<select id="getConfParamValue" resultType="String">
		select ParaValue from SysConfig where Type = #{type} and
		ParaKey = #{paraKey,jdbcType=VARCHAR}
    </select>
    
</mapper>